@using EtherscanTest.Models;
@model List<TokenDetail>
@{
    ViewBag.Title = "Token Detail";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.IsDetail == true)
{
    <table id="tokens">
        <tr>
            <td colspan="2">
                <b>
                    @ViewBag.ContractAddress
                </b>
            </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>$ @ViewBag.Price</td>
        </tr>
        <tr>
            <td>Total Supply:</td>
            <td>@ViewBag.TotalSupply @ViewBag.Symbol</td>

        </tr>
        <tr>
            <td>Total Holders:</td>
            <td>@ViewBag.Total_Holders</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>@ViewBag.Name</td>
        </tr>
    </table>
}
else
{
    <h2>Please Select Token</h2>
    int i = 0;
    foreach (var token in ViewBag.TokenSymbols)
    {
        <button class="btn-token" id="btn.@token.@i" value="@token">@token</button> <br /><br />
        i++;
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('.btn-token').click(function () {

        var selectedToken = $(this).attr('value');

        var id = "id";
        value = "?" + id + '=' + selectedToken;

        location.href = window.location.href + value;
    });
</script>