@using EtherscanTest.Models;
@model List<TokenDetail>
@{
    ViewBag.Title = "Token Detail";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<div>
    <br />

    <h3>Save / Update Token</h3>
    <div style="font-family: Corbel; font-size: small ;text-align:center " class="row">

        <div class="w280 col-lg-6">
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input class="inp-name" placeholder="Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Symbol
                    </td>

                    <td>
                        <input class="inp-sym" placeholder="Symbol" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Contract Address
                    </td>

                    <td>
                        <input class="inp-add" placeholder="Contract Address" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Supply
                    </td>
                    <td>
                        <input class="inp-sup" placeholder="Total Supply " />
                    </td>
                </tr>
                <tr>
                    <td>
                        Total Holders
                    </td>

                    <td>
                        <input class="inp-hold" placeholder="Total Holders" />
                    </td>
                </tr>
            </table>
            <button class="btn-common btn-reset f-right btn-green">Reset</button>
            <button class="btn-common btn-save f-right btn-blue">Save</button>
        </div>
        <div class="col-lg-6"">
            <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>
        </div>
    </div>
    <table id="tokens">
        <tr>
            <th>
                <b>
                    Rank
                </b>
            </th>
            <th>
                <b>
                    Symbol
                </b>
            </th>
            <th>
                <b>
                    Name
                </b>
            </th>
            <th>
                <b>
                    Contract Address
                </b>
            </th>
            <th>
                <b>
                    Total Holders
                </b>
            </th>
            <th>
                <b>
                    Total Supply
                </b>
            </th>
            <th>
                <b>
                    Total Supply %
                </b>
            </th>
            <th>
            </th>
        </tr>

        @foreach (var token in ViewBag.TD)
        {
            int i = 1;

            <tr>
                <td>@token.RankID</td>
                <td><a href="@Url.Action("Detail", "Home")?id=@token.symbol">@token.symbol</a></td>
                <td>@token.name</td>
                <td>@token.contract_address</td>
                <td>@token.total_holders</td>
                <td>@token.total_supply</td>
                <td>
                    @{
                        decimal num1, num2, divide;
                        decimal asa = ViewBag.AllSupply;
                        num1 = Convert.ToDecimal(token.total_supply);
                        num2 = Convert.ToInt32(asa);
                        divide = Math.Round((num1 / num2) * 100, 5);
                    }
                    @divide%
                </td>
                <td><a>Edit</a></td>

            </tr>
        }

    </table>
</div>
<script src="/js/Chart.min.js" type="text/javascript"></script>
<script src="/js/Chart.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    //reset input values
    $('.btn-reset').click(function (event) {
        $(".inp-name").val("");
        $(".inp-sym").val("");
        $(".inp-add").val("");
        $(".inp-sup").val("");
        $(".inp-hold").val("");
    });
    //save new data into db
    $('.btn-save ').click(function () {


    });

    // initialize chart.js
    $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("GetPieChartData", "Home")',
                success: function (response) {//response is value returned from php
                    //alert(response); //showing response is working
                    var jsonObject = $.parseJSON(response); //Only if not already an object
                    var tokenname = [];
                    var totalsupply = [];
                    $.each(jsonObject, function (i, obj) {
                        tokenname.push(obj.name);
                        totalsupply.push(obj.total_supply);
                    });
                    var aData = response;
                    var aLabels = aData[0];
                    var aDatasets1 = aData[1];
                    var dataT = {
                        labels: aLabels,
                        datasets: [{
                            data: aDatasets1,
                            fill: false,
                            backgroundColor: ["rgba(54, 162, 235, 0.2)", "#94b4ea", "#dea562", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],
                            borderColor: ["rgb(54, 162, 235)", "#94b4ea", "#dea562", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],
                            borderWidth: 1
                        }]
                    };
                    var ctx = $("#myChart").get(0).getContext("2d");
                    var myNewChart = new Chart(ctx, {
                        type: 'pie', label: "Token Statistics by Total Supply",
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Token Statistics By Total Supply'
                            },
                            animation: {
                                animateScale: true,
                                animateRotate: true
                            }
                        },
                        height: "230px",
                        width: "300px",
                        responsive: false,
                        animation: false,
                        legend: { position: 'bottom' },
                        data: {
                            labels: tokenname,
                            datasets: [{
                                label: 'Monthly Expenses',
                                data: totalsupply,
                                backgroundColor: ["#94b4ea", "#dea562", "#b4eb84", "#434348"]
                            }]
                        }, options: {
                            // This chart will not respond to mousemove, etc  
                            events: ['click']
                        }
                    });

                }
            });
        
    });
</script>
